@{
    ViewBag.Title = "Home Page";
}
<style>
    #android img {
        width: 100%;
    }

    #video1 {
        width: 100%;
    }
</style>

<div>
    <h1>Mobile Store Application</h1>
</div>
<hr />
    <div id="android" onmouseover="play()">
        <video id="video1">
            <source src="/Video/iphone.mp4" type="video/mp4">
        </video>
    </div>
<script>
    function play() {
        var videos = document.getElementById('video1');
        console.log(videos);
        videos.play()
    }
</script>