@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mobile Store Application</h1>
</div>
@if (Session["UserName"] != null)
{
<text>
    Welcome @Session["UserName"].ToString() </text> 
}